* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Noto Sans JP', sans-serif;
}

img {
	width: 100%;
}

ul,
ol,
li,
menu
 {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

:root {
  --blue: #0084FD;
  --lightblue: #B5DDFF;
  --purple: #9792E4;
  --dark: #333333;
  --yellow: #FDC15F;
}

/*************** CONTAINER **************/

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px 0px;
}

/*************** ROW **************/

.row{
  display: flex;
  flex-wrap: wrap;
}

.row-between{
  justify-content: space-between;
  align-items: center;
}

/*************** COLS **************/

/*************** HEADER **************/

.main-header{
  background-color: var(--blue);
}

.nav-list{
  display: flex;
}

.nav-item a {
  color: white;
  line-height: 38px;
  font-size: 16px;
  padding: 0 16px;
}